// Grundlegende Definitionen
$baseFontSize: 12px;
$basicLinkColor: rgb(52, 125, 159);
$baseFontFamily: Arial, Helvetica, sans-serif;

// Breadcrumb
$breadcrumbLinkColor: $basicLinkColor;
$breadcrumbArrowColor: red;
$breadcrumbArrowSize: 5px;
$breadcrumbPositionTop: 3px;

// Media-Element
$mediaElementMarginSize: 10px;
$mediaElementPaddingSize: $mediaElementMarginSize;

// SidebarContainers
$sidebarContainersBorderColor: rgb(191,227,244);//rgb(238,247,251)
$sidebarContainersBorderWidth: 1px;
$sidebarContainersBackgroundColor: #EEF8FC;
$sidebarContainersMarginSize: 10px;
$sidebarContainersPaddingSize: $mediaElementMarginSize;