// Grundlegende Definitionen
$baseFontSize: 12px;
$basicLinkColor: rgb(52, 125, 159);
$baseFontFamily: Arial, Helvetica, sans-serif;

// Breadcrumb
$breadcrumbLinkColor: $basicLinkColor;
$breadcrumbArrowColor: red;
$breadcrumbArrowSize: 5px;
$breadcrumbPositionTop: 3px;