// Grundlegende Definitionen
$baseFontSize: 12px;
$basicLinkColor: rgb(52, 125, 159);
$baseFontFamily: Arial, Helvetica, sans-serif;

// Breadcrumb
$breadcrumbLinkColor: $basicLinkColor;
$breadcrumbArrowColor: red;
$breadcrumbArrowSize: 5px;
$breadcrumbPositionTop: 3px;

//TabWrapper
$tabWrapperWidth: 80%;

$tabNavigationBackgroundColor: #eef8fc;
$tabNavigationHeight: 32px;
$tabNavigationWidth: 100%;

$tabNavigationUlfirstChildMarginLeft: -13px;

$tabNavigationLiMarginTop: 8px;
$tabNavigationLiMarginRight: 13px;
$tabNavigationLiMarginBottom: 9px;
$tabNavigationLiMarginLeft: 13px;

$tabNavigationAFontSize: 13px;
$tabNavigationAPaddingRight: 15px;
$tabNavigationAPaddingBottom: 8px;
$tabNavigationAPaddingLeft: 15px;
$tabNavigationAHoverBackgroundColor: #fff;
$tabNavigationAHoverFontColor: #222;
$tabNavigationABorderDimension: 2px;
$tabNavigationABorderType: solid;
$tabNavigationABorderColor:  #dff1f9;

$tabContentBorder: 2px solid #dff1f9;
$tabContentPadding: 10px;

$tabContentImgMarginTop: 5px;
$tabContentImgMaxWidth: 684px;

//Typografie Produktdetailseite tabContent
$hTagTabContentColor: #222;
$hTagTabContentLineHeight: 1;

$h2TabContentMarginTop: 20px;
$h2TabContentFontSize: 23px;

$h3TabContentMarginTop: 15px;
$h3TabContentMarginBottom: 8px;
$h3TabContentFontSize: 15px;

$h4TabContentMarginTop: 10px;
$h4TabContentFontSize: 12px;
$h4TabContentLineHeight: 1.3;

$pTabContentFontSize: 12px;
$pTabContentLineHeight: 1.3; 

$ulTabContentListStyleType: disc;
$ulTabContentMarginTop: 5px;
$ulTabContentMarginBottom: 10px;
$ulTabContentLineHeight: 1.3;

$liTabContentMarginLeft: 14px;

// Media-Element
$mediaElementMarginSize: 10px;
$mediaElementPaddingSize: $mediaElementMarginSize;

// SidebarContainers
$sidebarContainersBorderColor: rgb(191,227,244);//rgb(238,247,251)
$sidebarContainersBorderWidth: 1px;
$sidebarContainersBackgroundColor: #EEF8FC;
$sidebarContainersMarginSize: 10px;
$sidebarContainersPaddingSize: $mediaElementMarginSize;

