#footer {
  @include background(linear-gradient(#EEF8FC, #FFFFFF));

  h3 {
    &, a {
      color: #222;
    }
  }

  ul, li {
    list-style-type: none;
    margin: 0 0 0 0;
    .extern {
      background: #fbfcfe;
    }
  }
}
