.horizontalList {
	list-style-type: none;
	margin: 0;
	padding: 0;
	li, a {
		list-style-type: none;
		display: inline-block;
		// display:inline-block auch für den IE7 und IE6
		*display: inline;
		*zoom: 1;
	}
    li:first-child a {
      padding: 0 10px 0 10px;
      border-left: 0;
    }
	a {
		text-decoration: none;
        padding: 0 10px 0 11px;
        border-left: 1px solid #DFF2F9;
		&:focus, &:hover {
			text-decoration: underline;
		}
	}
}
