// Media-Element

.media {
  border: 1px solid #ccc;
  margin: 0 0 $mediaElementMarginSize 0;
}
.mediaImage {
  float: left;
  margin: 0 $mediaElementMarginSize $mediaElementMarginSize 0;
}

.rightImage {
	.mediaImagecnt {
		float: right;
		img {
		  margin: 0 0 $mediaElementMarginSize $mediaElementMarginSize;
		}
	}
	.mediaImage {
	  float: right;
	  margin: 0 $mediaElementMarginSize 0 $mediaElementMarginSize;		
	}
}

// Wenn mehrere Bilder eingebunden werden, muss doch ein Container um die Bilder.
.mediaImagecnt {
	float: left;
	.mediaImage {
	  float: none;
	  display: block;		
	}
	img {
	  margin: 0 $mediaElementMarginSize $mediaElementMarginSize 0;
	}	
}

// Die Ansteuerung einer Klasse macht uns in der Implementierung des Mediaelements
// unabhängig von der endgültigen Semantik. Es kann eine h2, h3 oder sonstwie sein.
.mediaHeadline {
  background: #ccc;
  padding: $mediaElementPaddingSize;
  margin: 0;
}

// In diesen Contentcontainer kann alles Mögliche platziert werden. 
.mediaContent {
  margin: $mediaElementMarginSize;
}
