// Basisklassen für die Sidebar-Container
.sideContainer {
	padding: $sidebarContainersPaddingSize;
	margin-bottom: $sidebarContainersMarginSize;
}

dl.tableView {
    padding: 0;	
	overflow: hidden;
	margin: 0;
	dt {
	    float: left;
	    width: 50%;
	    margin: 0 0 $sidebarContainersMarginSize 0;
	    clear: both;
	}
	dd {
	    float: right;
	    width: 50%;
	    text-align: right;
	    margin: 0 0 $sidebarContainersMarginSize 0;
	}
}

// Liste mit Häkchen

.checkList {
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		position: relative;
		padding-left: 20px;
		color: $checklistItemColor;
		&:before {
			content: "\2714";
			color: green;
			font-weight: bold;
			display: block;
			width: 10px;
			height: 10px;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}


// Modifyer-Klassen für die Container
// ----------------------------------

// Container hat keine Rahmenlinien
.noBorder {
	border: none;
}

// Container hat an allen 4 Seiten eine Linie
.border4Sides {
	border: $sidebarContainersBorderWidth solid $sidebarContainersBorderColor;
}           

// Container hat nur oben eine Linie
.borderTop {
	border-top: $sidebarContainersBorderWidth solid $sidebarContainersBorderColor;
}

// Container hat eine Hintergrundfarbe
.coloredBackground {
	background-color: $sidebarContainersBackgroundColor;
}

