/*
	SMACSS-Reihenfolge
	Base
	Layout
	Module
	State
	Theme
*/
/* line 98, sprites/basics/*.png */
.basics-sprite, .basics-brack, .basics-daydeal, .basics-facebook, .basics-mastercard, .basics-postfinance, .basics-proclima, .basics-twitter, .basics-visa {
  background: url('/images/sprites/basics-scaddcb69af.png') no-repeat;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.basics-brack {
  background-position: 0 -140px;
  height: 16px;
  width: 16px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.basics-daydeal {
  background-position: 0 -124px;
  height: 16px;
  width: 16px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.basics-facebook {
  background-position: 0 -108px;
  height: 16px;
  width: 16px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.basics-mastercard {
  background-position: 0 -83px;
  height: 25px;
  width: 42px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.basics-postfinance {
  background-position: 0 -58px;
  height: 25px;
  width: 70px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.basics-proclima {
  background-position: 0 0;
  height: 38px;
  width: 53px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.basics-twitter {
  background-position: 0 -156px;
  height: 15px;
  width: 16px;
}

/* line 60, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.basics-visa {
  background-position: 0 -38px;
  height: 20px;
  width: 66px;
}

/* line 2, ../sass/partials/_basics.scss */
.ym-wrapper {
  width: 100%;
}

/* line 3, ../sass/partials/_basics.scss */
.ym-wbox {
  width: 958px;
  margin: 0 auto;
}

/* line 6, ../sass/partials/_basics.scss */
.ym-g1-7 {
  width: 14.2857%;
}

/* line 7, ../sass/partials/_basics.scss */
.ym-g2-7 {
  width: 28.5714%;
}

/* line 9, ../sass/partials/_basics.scss */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

/* line 14, ../sass/partials/_basics.scss */
a {
  color: #347d9f;
  text-decoration: none;
}

/* line 1, ../sass/partials/_infowrapper.scss */
#infowrapper {
  background: #E1F2F9;
  padding: 10px 0;
  background: #e1f2f9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e1f2f9 0%, #f3fafd 42%, #f3fafd 58%, #e1f2f9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e1f2f9), color-stop(42%, #f3fafd), color-stop(58%, #f3fafd), color-stop(100%, #e1f2f9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e1f2f9 0%, #f3fafd 42%, #f3fafd 58%, #e1f2f9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e1f2f9 0%, #f3fafd 42%, #f3fafd 58%, #e1f2f9 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e1f2f9 0%, #f3fafd 42%, #f3fafd 58%, #e1f2f9 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e1f2f9 0%, #f3fafd 42%, #f3fafd 58%, #e1f2f9 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1f2f9', endColorstr='#e1f2f9',GradientType=0 );
  /* IE6-9 */
}

/* line 1, ../sass/partials/_horizontalList.scss */
.horizontalList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 5, ../sass/partials/_horizontalList.scss */
.horizontalList li, .horizontalList a {
  list-style-type: none;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* line 12, ../sass/partials/_horizontalList.scss */
.horizontalList a {
  text-decoration: none;
}
/* line 14, ../sass/partials/_horizontalList.scss */
.horizontalList a:focus, .horizontalList a:hover {
  text-decoration: underline;
}

/* line 5, ../sass/partials/_breadCrumb.scss */
.breadcrumb li a {
  color: #347d9f;
  position: relative;
  padding-left: 10px;
}
/* line 9, ../sass/partials/_breadCrumb.scss */
.breadcrumb li a:before, .breadcrumb li a .before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: red;
  position: absolute;
  left: 0;
  top: 3px;
}

/* line 3, ../sass/partials/_bottomNav.scss */
#bottomnav .ym-wbox {
  border-top: 1px solid #bfdfee;
  padding: 10px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eef8fc), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(#eef8fc, #ffffff);
  background: -moz-linear-gradient(#eef8fc, #ffffff);
  background: -o-linear-gradient(#eef8fc, #ffffff);
  background: linear-gradient(#eef8fc, #ffffff);
}
/* line 11, ../sass/partials/_bottomNav.scss */
#bottomnav h3, #bottomnav h3 a {
  color: #222;
}
/* line 16, ../sass/partials/_bottomNav.scss */
#bottomnav ul, #bottomnav li {
  list-style-type: none;
  margin: 0 0 0 0;
}
/* line 22, ../sass/partials/_bottomNav.scss */
#bottomnav .ym-g2-7 a {
  background: #fbfcfe;
  display: block;
  padding: 5px;
}
/* line 28, ../sass/partials/_bottomNav.scss */
#bottomnav .ym-g2-7 li {
  padding: 0px 20px 5px 0px;
}
/* line 30, ../sass/partials/_bottomNav.scss */
#bottomnav .ym-g2-7 li span {
  display: inline-block;
}

/* line 2, ../sass/partials/_footer.scss */
#footer .ym-wbox {
  border-top: 1px solid #bfdfee;
  padding: 10px;
}

/* line 3, ../sass/partials/_media.scss */
.media {
  border: 1px solid #cccccc;
  margin: 0 0 10px 0;
}

/* line 9, ../sass/partials/_media.scss */
.mediaImage {
  float: left;
  margin: 0 10px 10px 0;
}

/* line 14, ../sass/partials/_media.scss */
.right-image .media-img {
  float: right;
  margin: 0 10px 0 10px;
}

/* line 18, ../sass/partials/_media.scss */
.media-imagecnt .media-img {
  float: none;
  display: block;
}

/* line 23, ../sass/partials/_media.scss */
.media-headline {
  background: #ccc;
  padding: 10px;
  margin: 0;
}

/* line 28, ../sass/partials/_media.scss */
.media-content {
  margin: 10px;
}

/* line 32, ../sass/partials/_media.scss */
.media-imagecnt {
  float: left;
}

/* line 35, ../sass/partials/_media.scss */
.right-image .media-imagecnt {
  float: right;
}

/* line 38, ../sass/partials/_media.scss */
.media-imagecnt img {
  margin: 0 10px 10px 0;
}

/* line 41, ../sass/partials/_media.scss */
.right-image .media-imagecnt img {
  margin: 0 0 10px 10px;
}
