/*
	SMACSS-Reihenfolge
	Base
	Layout
	Module
	State
	Theme
*/
/* line 2, ../sass/partials/_basics.scss */
.ym-wrapper {
  width: 100%;
}

/* line 3, ../sass/partials/_basics.scss */
.ym-wbox {
  width: 958px;
  margin: 0 auto;
}

/* line 6, ../sass/partials/_basics.scss */
.ym-g1-7 {
  width: 14.2857%;
}

/* line 7, ../sass/partials/_basics.scss */
.ym-g2-7 {
  width: 28.5714%;
}

/* line 9, ../sass/partials/_basics.scss */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

/* line 14, ../sass/partials/_basics.scss */
a {
  color: #347d9f;
  text-decoration: none;
}

/* line 1, ../sass/partials/_infowrapper.scss */
#infowrapper {
  background: #E1F2F9;
  padding: 10px 0;
  background: #e1f2f9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e1f2f9 0%, #f3fafd 42%, #f3fafd 58%, #e1f2f9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e1f2f9), color-stop(42%, #f3fafd), color-stop(58%, #f3fafd), color-stop(100%, #e1f2f9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e1f2f9 0%, #f3fafd 42%, #f3fafd 58%, #e1f2f9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e1f2f9 0%, #f3fafd 42%, #f3fafd 58%, #e1f2f9 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e1f2f9 0%, #f3fafd 42%, #f3fafd 58%, #e1f2f9 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e1f2f9 0%, #f3fafd 42%, #f3fafd 58%, #e1f2f9 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1f2f9', endColorstr='#e1f2f9',GradientType=0 );
  /* IE6-9 */
}

/* line 1, ../sass/partials/_horizontalList.scss */
.horizontalList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 5, ../sass/partials/_horizontalList.scss */
.horizontalList li, .horizontalList a {
  list-style-type: none;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* line 12, ../sass/partials/_horizontalList.scss */
.horizontalList a {
  text-decoration: none;
}
/* line 14, ../sass/partials/_horizontalList.scss */
.horizontalList a:focus, .horizontalList a:hover {
  text-decoration: underline;
}

/* line 1, ../sass/partials/_mainNavigation.scss */
.mainNavigation {
  list-style-type: none;
  position: relative;
  height: 46px;
  margin: 0;
}
/* line 6, ../sass/partials/_mainNavigation.scss */
.mainNavigation > li {
  float: left;
  vertical-align: top;
  margin: 15px 0 0 0;
}
/* line 10, ../sass/partials/_mainNavigation.scss */
.mainNavigation > li > a {
  text-align: center;
  display: block;
  height: 30px;
  width: 134px;
  margin-left: 3px;
  padding: 16px 0 0 0;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  background: #292929;
  border-radius: 0 3px 0 0;
}
/* line 22, ../sass/partials/_mainNavigation.scss */
.mainNavigation > li > a:hover, .mainNavigation > li > a:focus {
  color: #222;
  text-decoration: none;
  background: #d0ecfa;
}
/* line 30, ../sass/partials/_mainNavigation.scss */
.mainNavigation > li:first-child > a {
  margin-left: 0;
  width: 136px;
}
/* line 35, ../sass/partials/_mainNavigation.scss */
.mainNavigation li {
  list-style-type: none;
}
/* line 37, ../sass/partials/_mainNavigation.scss */
.mainNavigation li > ul {
  position: absolute;
  left: 0;
  width: 100%;
  height: 298px;
  z-index: 999;
  border: 1px solid #bfe3f4;
  box-shadow: 0 5px 15px -10px #333333;
  background: url("../images/bg_horizontal.jpg") repeat-y scroll 0 0 transparent;
  margin: 0 0 10px 0;
}
/* line 48, ../sass/partials/_mainNavigation.scss */
.mainNavigation li > ul > li {
  padding: 2px 0 0 0;
  margin: 15px 0 0 15px;
}
/* line 52, ../sass/partials/_mainNavigation.scss */
.mainNavigation li > ul li {
  float: none;
}
/* line 54, ../sass/partials/_mainNavigation.scss */
.mainNavigation li > ul li div {
  float: left;
  width: 192px;
}
/* line 57, ../sass/partials/_mainNavigation.scss */
.mainNavigation li > ul li div h2 {
  font-size: 16px;
}
/* line 60, ../sass/partials/_mainNavigation.scss */
.mainNavigation li > ul li div ul {
  display: block;
  width: 160px;
  height: auto;
  border: 0;
  background: none;
  box-shadow: none;
  margin: 5px 0 10px 0;
}
/* line 68, ../sass/partials/_mainNavigation.scss */
.mainNavigation li > ul li div ul li {
  position: relative;
  margin: 0;
}
/* line 71, ../sass/partials/_mainNavigation.scss */
.mainNavigation li > ul li div ul li a {
  line-height: 1.4em;
  display: block;
}
/* line 74, ../sass/partials/_mainNavigation.scss */
.mainNavigation li > ul li div ul li a:hover, .mainNavigation li > ul li div ul li a:active {
  text-decoration: underline;
}
/* line 79, ../sass/partials/_mainNavigation.scss */
.mainNavigation li > ul li div ul li.bottom {
  bottom: 10px;
}
/* line 85, ../sass/partials/_mainNavigation.scss */
.mainNavigation li > ul > li.right {
  top: 0;
  display: inline-block;
  position: absolute;
  right: 0;
}
/* line 90, ../sass/partials/_mainNavigation.scss */
.mainNavigation li > ul > li.right a, .mainNavigation li > ul > li.right h2 {
  color: #ffffff;
}
/* line 93, ../sass/partials/_mainNavigation.scss */
.mainNavigation li > ul > li.right.bottom {
  bottom: 0;
}
/* line 96, ../sass/partials/_mainNavigation.scss */
.mainNavigation li > ul > li.right > ul {
  background: none;
  border: 0;
  box-shadow: none;
  position: static;
  overflow: hidden;
  width: 160px;
}
/* line 103, ../sass/partials/_mainNavigation.scss */
.mainNavigation li > ul > li.right > ul li {
  float: left;
  margin: 0;
}
/* line 106, ../sass/partials/_mainNavigation.scss */
.mainNavigation li > ul > li.right > ul li a {
  display: block;
  width: 75px;
}
/* line 112, ../sass/partials/_mainNavigation.scss */
.mainNavigation li > ul > li.right a.allBrands {
  margin-top: 10px;
  padding: 0 0 0 10px;
  background: url("../img/template_images.png") no-repeat scroll 0 -364px transparent;
  opacity: 0.7;
}

/* CSS Animation */
/* line 124, ../sass/partials/_mainNavigation.scss */
body.noJS ul#topnav li:hover ul {
  display: block !important;
}

/* line 5, ../sass/partials/_breadCrumb.scss */
.breadcrumb li a {
  color: #347d9f;
  position: relative;
  padding-left: 10px;
}
/* line 9, ../sass/partials/_breadCrumb.scss */
.breadcrumb li a:before, .breadcrumb li a .before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: red;
  position: absolute;
  left: 0;
  top: 3px;
}

/* line 1, ../sass/partials/_footer.scss */
#footer {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eef8fc), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(#eef8fc, #ffffff);
  background: -moz-linear-gradient(#eef8fc, #ffffff);
  background: -o-linear-gradient(#eef8fc, #ffffff);
  background: linear-gradient(#eef8fc, #ffffff);
}
/* line 5, ../sass/partials/_footer.scss */
#footer h3, #footer h3 a {
  color: #222;
}
/* line 10, ../sass/partials/_footer.scss */
#footer ul, #footer li {
  list-style-type: none;
  margin: 0 0 0 0;
}
/* line 13, ../sass/partials/_footer.scss */
#footer ul .extern, #footer li .extern {
  background: #fbfcfe;
}

/* line 3, ../sass/partials/_media.scss */
.media {
  border: 1px solid #cccccc;
  margin: 0 0 10px 0;
}

/* line 7, ../sass/partials/_media.scss */
.mediaImage {
  float: left;
  margin: 0 10px 10px 0;
}

/* line 13, ../sass/partials/_media.scss */
.rightImage .mediaImagecnt {
  float: right;
}
/* line 15, ../sass/partials/_media.scss */
.rightImage .mediaImagecnt img {
  margin: 0 0 10px 10px;
}
/* line 19, ../sass/partials/_media.scss */
.rightImage .mediaImage {
  float: right;
  margin: 0 10px 0 10px;
}

/* line 26, ../sass/partials/_media.scss */
.mediaImagecnt {
  float: left;
}
/* line 28, ../sass/partials/_media.scss */
.mediaImagecnt .mediaImage {
  float: none;
  display: block;
}
/* line 32, ../sass/partials/_media.scss */
.mediaImagecnt img {
  margin: 0 10px 10px 0;
}

/* line 39, ../sass/partials/_media.scss */
.mediaHeadline {
  background: #ccc;
  padding: 10px;
  margin: 0;
}

/* line 46, ../sass/partials/_media.scss */
.mediaContent {
  margin: 10px;
}
